src/main/app/svarinn-integrasjon.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jetty-ssl="http://www.mulesoft.org/schema/mule/jetty-ssl" xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/jetty http://www.mulesoft.org/schema/mule/jetty/current/mule-jetty.xsd
http://www.mulesoft.org/schema/mule/jetty-ssl http://www.mulesoft.org/schema/mule/jetty-ssl/current/mule-jetty-ssl.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:request-config name="HTTPS_svarut" protocol="HTTPS" host="test.svarut.ks.no" port="443" doc:name="HTTP Request Configuration"/>
    <flow name="svarinn-integrasjon">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="5000"/>
            <http:request config-ref="HTTPS_svarut" path="/tjenester/svarinn/mottaker/hentNyeForsendelser" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:header headerName="Authorization" value="${authorization}"/>
                </http:request-builder>
            </http:request>
        </poll>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer returnClass="no.fk.model.Forsendelse[]" doc:name="JSON to Forsendelse"/>
        <choice doc:name="Choice">
            <when expression="#[payload.length &gt; 0]">
                <logger message="Message id: #[payload[0].id]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="No documents waiting" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
